$color-black: #050124;
$color-white: #efefef;
$color-primary-dark: #270a73;
$color-primary: #2a0b7d;
$color-primary-light: #330d99;
$color-error: #c92823;
$color-brown: #492d3c;
$color-orange: #ca8f57;
$color-yellow: #f3b713;
$color-success: #06a353;
$color-muted: #a798cc;
