.bg-primary {
  background-color: $color-primary;
}

.bg-primary-dark {
  background-color: $color-primary-dark;
}

.text-muted {
  color: $color-muted !important;
}

.text-white {
  color: $color-white !important;
}
