.bg-container {
  background: url("./../assets/images/bg_container.png"), $color-primary-light;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-primary {
  background-color: $color-primary;
}

.bg-primary-light {
  background-color: $color-primary-light;
}

.bg-primary-dark {
  background-color: $color-primary-dark;
}

.bg-success {
  background-color: $color-success;
}

.bg-error {
  background-color: $color-error;
}

.bg-white {
  background-color: $color-white;
}

.text-muted {
  color: $color-muted !important;
}

.text-success {
  color: $color-success !important;
}

.text-error {
  color: $color-error !important;
}

.text-white {
  color: $color-white !important;
}

.focusable {
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.9;
  }
}
