@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-primary {
  background-color: #292cd8;
}

.bg-primary-dark {
  background-color: #0f0291;
}

body {
  background-color: #292cd8;
  margin: 0;
  height: 100%;
}
