@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-container {
  background: url("./../assets/images/bg_container.png"), #330d99;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-primary {
  background-color: #2a0b7d;
}

.bg-primary-light {
  background-color: #330d99;
}

.bg-primary-dark {
  background-color: #270a73;
}

.bg-success {
  background-color: #06a353;
}

.bg-error {
  background-color: #c92823;
}

.bg-white {
  background-color: #efefef;
}

.text-muted {
  color: #a798cc !important;
}

.text-white {
  color: #efefef !important;
}

.focusable {
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.focusable:hover {
  opacity: 0.9;
}

body {
  background-color: #330d99;
  margin: 0;
  height: 100%;
}
