@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-container {
  background: url("./../assets/images/bg_container.png"), #330d99;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-primary {
  background-color: #2a0b7d;
}

.bg-primary-dark {
  background-color: #270a73;
}

.text-muted {
  color: #8679a7 !important;
}

.text-white {
  color: #efefef !important;
}

body {
  background-color: #330d99;
  margin: 0;
  height: 100%;
}
